
<div class="titulos">Cadastros de clientes</div>

<form [formGroup]="form" (ngSubmit)="save()">
   <label>Codigo:</label>
   <input type="text" formControlName="codigo" />
   <br>
   <label>Nome:</label>
   <input type="text" formControlName="nome" />
   <br>
   <button type="submit">Pronto</button>
</form>

<table class="tabelas" id="dados">
   <tr>
      <th>Codigo</th>      
      <th>Nome</th> 
      <th>-</th>     
      <th>-</th> 
   </tr>
   <tr *ngFor="let item of lista">
      <td>{{item.codigo}}</td> 
      <td>{{item.nome}}</td> 
      <td><a (click)="excluir(item)" class="btn">Excluir?</a></td>
      <td><a (click)="select(item)" class="btn">Selecionar</a></td>
   </tr>
</table>
